@font-face {
    font-family: 'fa';
    src: url(../fonts/fa-brands-400.ttf);
}

@font-face {
    font-family: 'fa';
    src: url(../fonts/fa-regular-400.ttf);
}

@font-face {
    font-family: 'fa';
    src: url(../fonts/fa-solid-900.ttf);
}

@font-face {
    font-family: 'awesome';
    src: url(../fonts/FontAwesome.otf);
}

@font-face {
    font-family: 'awesome';
    src: url(../fonts/fontawesome-webfont.ttf);
}

@font-face {
    font-family: 'philosopher';
    src: url(../fonts/Philosopher-Bold.ttf);
}

@font-face {
    font-family: 'philosopher';
    src: url(../fonts/Philosopher-Regular.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

.header {
    height: 100px;
    background-color: #008daa;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.4);
}

.banner {
    height: 976px;
    background-color: #eeeeed;
    margin-top: 4px;
}

.about {
    height: 955px;
    background-color: #ffffff;
}

.advantages {
    height: 1080px;
    background-color: #eeeeed;
}

.questions {
    height: 1080px;
    background-color: #ffffff;
}

.reviews {
    height: 1080px;
    background-color: #eeeeed;
}

.contact-us {
    height: 903px;
    background-color: #ffffff;
}

.footer {
    height: 177px;
    background-color: #005c7b;
}

#site-link {
    font-family: Roboto;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: underline;
    color: #d4d0c8;
    padding-left: 69px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding-top: 38px
}

.header-social {
    width: 35px;
    height: 35px;
    margin-right: 43px;
}

.social {
    padding-right: 7px;
}

.banner-image {
    display: flex;
    width: 890px;
    height: 720px;
    margin: -369px -6px 0 -34px;
}

#top-banner-text,
#middle-banner-text {
    text-align: end;
    font-family: Philosopher;
    font-size: 55px;
    line-height: 72px;
    font-weight: 400;
    color: #005c7b;
    margin-right: 54px;
}

#top-banner-text {
    margin-top: 103px;
}

#middle-banner-text {
    margin-top: 40px;
}

#bottom-banner-text {
    text-align: end;
    font-family: Roboto;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #005c7b;
    margin: 103px 55px 0 0;
}

ul#top-nav-list li {
    margin-left: 17px;
}

#top-nav-list {
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #06bac5;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 15px 53px 0 0px;
}

.btn {
    width: 315px;
    height: 60px;
    background-color: #005c7b;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #eeeeed;
}

.sign-button {
    display: flex;
    justify-content: end;
    margin: 59px 54px 0 0;
}

#sign-button {
    text-decoration: none;
    color: #eeeeed;
}

.about-content {
    font-family: Roboto;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #005c7b;
    text-align: center;
}

#about-h1 {
    font-family: Philosopher;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: #005c7b;
    margin: 127px 0 0 16px;
}

#about-content-top {
    margin: 102px 51px 0 61px;
}


/* #about-content-middle {} */

#about-image-wrap {
    justify-content: space-between;
    margin: 98px 136px 0 169px;
    padding-bottom: 35px;
}

.about-image {
    width: 135px;
    height: 104px;
}

#about-image-content-wrap {
    margin-left: 20px;
}

#about-image-text {
    font-family: Philosopher;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #005c7b;
}

#about-image-text p {
    font-family: Roboto;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #008daa;
}
