@font-face {
    font-family: 'fa';
    src: url(../fonts/fa-brands-400.ttf);
}

@font-face {
    font-family: 'fa';
    src: url(../fonts/fa-regular-400.ttf);
}

@font-face {
    font-family: 'fa';
    src: url(../fonts/fa-solid-900.ttf);
}

@font-face {
    font-family: 'awesome';
    src: url(../fonts/FontAwesome.otf);
}

@font-face {
    font-family: 'awesome';
    src: url(../fonts/fontawesome-webfont.ttf);
}

@font-face {
    font-family: 'philosopher';
    src: url(../fonts/Philosopher-Bold.ttf);
}

@font-face {
    font-family: 'philosopher';
    src: url(../fonts/Philosopher-Regular.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

.header {
    height: 100px;
    background-color: #008daa;
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.4);
}

.banner {
    height: 976px;
    background-color: #eeeeed;
    margin-top: 4px;
}

.about {
    height: 1080px;
    background-color: #ffffff;
}

.advantages {
    height: 1080px;
    background-color: #eeeeed;
}

.questions {
    height: 1080px;
    background-color: #ffffff;
}

.reviews {
    height: 1080px;
    background-color: #eeeeed;
}

.contact-us {
    height: 903px;
    background-color: #ffffff;
}

.footer {
    height: 177px;
    background-color: #005c7b;
}

#site-link {
    font-family: Roboto;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: underline;
    color: #d4d0c8;
    padding-left: 69px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-social {
    width: 30px;
    height: 30px;
}